# Ignore user-specific private settings
**/nbproject/private/
**/nbproject/private.properties

# Optional but recommended: Ignore compiled build outputs
**/build/
**/dist/
EcoApp/EcoApp-ejb/nbproject/private/private.properties
EcoApp/EcoApp-ejb/nbproject/private/private.properties
